.inputField {
    margin-bottom: var(--spacers-dp8);
}

.hiddenFields {
    display: none;
}

.formButtons {
    display: flex;
    flex-direction: var(--form-button-direction, column);
    gap: var(--spacers-dp8);
    margin-bottom: var(--spacers-dp16);
}

.card {
    padding: 40px;
    border-radius: var(--spacers-dp8);
    background-color: white !important;
}
