.accountFormSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
    margin-bottom: var(--spacers-dp24);
}

.accountFormSectionTitle {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--colors-grey900);
}

.inputField {
    margin-bottom: var(--spacers-dp8);
}

.recaptchaWarning {
    display: flex;
    align-items: center;
}

.recaptchaWarningText {
    color: var(--colors-red500);
    font-size: 12px;
    text-align: center;
    margin-inline-start: var(--spacers-dp8);
}