.formContainer {
    margin: 0 auto var(--spacers-dp24) auto;
    padding: var(--spacers-dp24);
    background: var(--form-container-background-color, var(--colors-white));
    border-radius: var(--form-container-box-border-radius, 5px);
    box-shadow: var(--form-container-box-shadow, var(--elevations-e400));
}

.formContainer span {
    color: var(--form-container-font-color, black);
}
.formContainer a {
    color: var(--form-container-font-color, black);
}
.formTitle {
    font-weight: 500;
    margin: 0 0 var(--spacers-dp16);
    color: var(--form-container-title-color, var(--colors-grey900));
}
